<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4zjxRLy9FFACM2fcE9LIRNoHeQKfw598</string>
	<key>GCM_SENDER_ID</key>
	<string>1017898640983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nelmb.mowermonitor</string>
	<key>PROJECT_ID</key>
	<string>sandbattery</string>
	<key>STORAGE_BUCKET</key>
	<string>sandbattery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017898640983:ios:0f0d4cdbf060a1fe8fa512</string>
	<key>DATABASE_URL</key>
	<string>https://sandbattery-default-rtdb.firebaseio.com</string>
</dict>
</plist>